 .html {
    place-items: center;
}
body
{
     background-color: #EAE3CC;
}
* {
    color: #2E2F33;
    margin: none;
    padding: none;
}
.box 
{
    padding: 10px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height: 450px;
}
#amount,#discription
{
    width:10em;
    margin: 10px;
}
.form-inline
{
   margin-left:10px;
}
.form-group
{
    justify-content: center;
    align-items: center;
}

.data 
{
    position: relative;
    margin: 5px;
}
#h-date {
    background-color: rgb(177, 207, 170);
        margin: auto;
  
      
        font-family: waste money;
        font-size: 3vw;
       padding: 15px; 
       border-radius: 10px;
     

}
#add_type
{
   
    margin-right: 10px;
}
.results {
    
    position: relative;
    margin: 0% 0% 5% 5% ;
    overflow: auto; 
    max-width: 50%;
}

.box::before
{
    content: '';
    position:absolute;
    max-height: 1050vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(3px);
    background:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(https://i.pinimg.com/originals/a0/fb/e2/a0fbe2738bfc70d14b3d837773573839.jpg);

 

}


.scol{

    background-attachment:fixed ;
}
#total {
   position: relative;
    color: white;
    font-size: 6vh;
    font-family: union gray expanded;
  

}/*************************************/

tbody::-webkit-scrollbar {
    display: none;
  }


tbody td 
{
    padding:6px 0 6px 10px ;
}


/*************************************/
.INCOME { 
    position: relative;
    background-color: #5A9A73;
    font-size: 3vh;
    padding: 0pc 2px 10px 0px;
    width: 70%;
    margin: 0 0 15px 0;
    padding-bottom: 0;
    font-family: union gray expanded; 
    border-radius: 5px;
   
}

.EXPENSES { 
    position: relative;
    background-color: rgb(216, 82, 82);
    padding: 2px 10px 0px;
    width: 70%;
    margin: 0 0 15px 0;
    font-family: union gray expanded;
    border-radius: 5px;}
.EXPENSES-t
{
  
      font-size:3vh;
}

#INCOME_SCORE {
    color: white;
   font-size: 4vh;
   font-family: union gray expanded;
}

#EXPENSES_SCORE {
    color: white;
    font-size: 4vh;
    font-family: union gray expanded;
}



.income_title {
    color: teal;
    border-bottom: thin dotted teal;
}

.expenses_title {
    color: tomato;
    
}
#INCOME_INFO {
    
    border: 2px solid teal;
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-top: 10px;
  

}

.in-am
{
   width: 25%;
    border-left: 2px solid teal;

}
#EXPENSES_INFO {
    
    border: 2px solid tomato;
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-top: 10px;
 

}
#INCOME_INFO tbody tr
{
    border-bottom: 2px solid teal;
}
.income-header th
{
    padding: 10px;
}
#head
{
     border-bottom: 2px solid teal;
}
#delete
{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: red;
    margin-left: 0;
}
#delete:hover
{
    cursor: pointer;
    background-color: rgb(170, 2, 2);
}
button:focus {outline:0;}
i{
    color:white;
}
#desc_data
{
    width: 55%;
    padding:0 5px 0 5px;

}

#delt_data
{
    width:10%;
}
#edit_data
{
    width:10%;
}
#edit
{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #0070F9;
   margin-right: 5px;
 
}

#amo_data
{
    width: 20%;
}
.expenses-header th
{
    padding: 10px;
    
   
}
.header-ex
{
    border-top: 1px dotted tomato;
    border-bottom: 2px solid tomato;
}



.expenses-header div ,.expenses-data div
{
   padding-left:20px;
   
}


.EXPENSES_INFO {
  
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    background-color: white;
    border: 2px solid tomato;
   


    margin: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    
 margin-top: 10px;
}   
#info-row-in
{
    padding: 2%;
    margin: auto;
}
#info-row-ex
{
       padding: 2%;
    border-bottom: 2px solid tomato;
    margin: auto;

 
}
.des-in
{
    width: 50%;
   
}
.date-in{
    width: 25%;
    border-right: 2px solid teal;
}
#date-in-data{
    width: 26%;
  
}
.date-ex{
    width: 25%;

}
.des-ex
{
    width: 50%;
    border-left:  2px solid tomato;
}
.ex-am
{
    width: 25%;
    border-left:  2px solid tomato;
}
#expences_data
{
    height: 20vh;
    overflow: auto;
}
#income_data
{
  

    overflow-y: auto;
    overflow-x: hidden;
}
#info-row-in
{
    padding: 2%;
    border-bottom: 2px solid teal;
    margin: auto;
}
.expences_title {
    color: tomato;
    padding: 2%;
    border-bottom: thin dotted tomato;
}

#expences_info {
    padding-left: 10%;
} 

thead, tbody { display: block; }

tbody {
    height: 170px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.bg-modal
{
      position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
        top:0;
    display: none;

}
 .modal-content
{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 2%;
    
} 
.edit_info 
{
    width: 50%;
    margin: auto;
    
   
}
#description-edit
{
    margin-top: 10px;

}
#conf_ed
{
    margin-top: 10px;
}
#amount-edit
{
    margin-top: 10px;
}

.edit_info select
{
    width: 25%;
    margin: auto; 
}
.edit_info button
{
    margin: auto;
}
.close 
{
    position: absolute;
    top:0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
} 
#row1{
    background-image: url(https://i.pinimg.com/originals/a0/fb/e2/a0fbe2738bfc70d14b3d837773573839.jpg);

    
 }
 .form-controller 
 {
     width: 50px;
 }